#include <windows.h>
#include "resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 240, 160
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Keep Awake - Einstellungen"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Automatisch mit Windows starten", IDC_CHK_AUTOSTART_WINDOWS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 12, 210, 10
    CONTROL         "Bildschirm ebenfalls wach halten (verhindert auch Bildschirm-Standby)", IDC_CHK_KEEP_DISPLAY_ON, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 27, 210, 18

    GROUPBOX        "Laufzeit", IDC_STATIC_GROUP_DURATION, 10, 48, 220, 65
    CONTROL         "Fuer", IDC_RADIO_DURATION_HOURS, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 20, 64, 30, 10
    EDITTEXT        IDC_EDIT_HOURS, 55, 62, 35, 13, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Stunden ab Start", IDC_STATIC_HOURS_LABEL, 95, 64, 90, 10

    CONTROL         "Bis", IDC_RADIO_DURATION_UNTIL, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 20, 84, 30, 10
    EDITTEXT        IDC_EDIT_UNTIL_TIME, 55, 82, 35, 13, ES_AUTOHSCROLL
    LTEXT           "Uhr (HH:MM)", IDC_STATIC_UNTIL_LABEL, 95, 84, 90, 10

    DEFPUSHBUTTON   "OK", IDC_BTN_OK, 100, 138, 60, 15
    PUSHBUTTON      "Abbrechen", IDC_BTN_CANCEL, 165, 138, 60, 15
END

IDI_MAIN_ICON ICON "app.ico"
