#include <windows.h>
#include "resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 240, 175
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Keep Awake - Einstellungen"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Automatisch mit Windows starten", IDC_CHK_AUTOSTART_WINDOWS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 12, 210, 10
    CONTROL         "Im Tray starten (minimiert, ohne Fenster)", IDC_CHK_START_IN_TRAY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 27, 210, 10
    CONTROL         "Bildschirm ebenfalls wach halten", IDC_CHK_KEEP_DISPLAY_ON, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 42, 210, 10

    GROUPBOX        "Laufzeit", IDC_STATIC_GROUP_DURATION, 10, 60, 220, 65
    CONTROL         "Fuer", IDC_RADIO_DURATION_HOURS, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 20, 76, 30, 10
    EDITTEXT        IDC_EDIT_HOURS, 55, 74, 35, 13, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Stunden ab Start", IDC_STATIC_HOURS_LABEL, 95, 76, 90, 10

    CONTROL         "Bis", IDC_RADIO_DURATION_UNTIL, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 20, 96, 30, 10
    EDITTEXT        IDC_EDIT_UNTIL_TIME, 55, 94, 35, 13, ES_AUTOHSCROLL
    LTEXT           "Uhr (HH:MM)", IDC_STATIC_UNTIL_LABEL, 95, 96, 90, 10

    DEFPUSHBUTTON   "OK", IDC_BTN_OK, 100, 150, 60, 15
    PUSHBUTTON      "Abbrechen", IDC_BTN_CANCEL, 165, 150, 60, 15
END

IDI_MAIN_ICON ICON "app.ico"
